* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.titleName {
    color: black;
}

.nav {
    background-color:white;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    
}
.homeImg {
    display: flex;
    width: 5rem;
    height: auto;
    text-align: center;
    
}
.vendiaLogo{
    width: 100%;
    height: auto;
    padding: .2rem;
    display: flex;
    
}
.title {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .1rem;
}

.nav li a {
    transition: all 0.3s ease-out;

}

 .nav li a:hover {
    color: rgb(0, 0, 0);
} 

