.title {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

 
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin-right: 20px;
  }
  
  .login-container input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
  }
  
  .form input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  
  
  