.nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.background {
  background-color: gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container h1 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-form label {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.login-form label input {
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px 40px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}


