.logout-container {
    display: flex;
    justify-content: flex-end;
  }

  .logout-button {
    background-color: #4c90af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  .logout-button:hover {
    background-color: #3e51aa;
  }