.containerP2{
  
  background-color: #645394;
  width: 100%; 
  padding: 1rem; 
  box-sizing: border-box; 
  min-height: 93.91vh;


}

.containerP1{
  margin: 1rem;
  box-sizing: border-box; 
  
}

.containerP {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  
}

.patient-info {
  word-wrap: break-word;
}




.box {
  width: 100%;
  padding: 1rem;
  background-color:#ADD8E6;
  border-radius: 10px;
}


.list ul {
  list-style-type: none;
  padding: 0;
}

.list ul li {
  margin-bottom: 0.5rem;
}

/* CSS for patient-info */
.patient-info {
  font-weight: bold;
}

/* CSS for buttonP */
.buttonP {
  margin-top: 1rem;
  align-self: center;
  
}

.buttonE {
  margin: 1rem;
  padding: auto;
  align-self: center;
}

/* Media Queries for responsiveness */

@media (min-width: 576px) {
  /* For screens with min-width of 576px (small screens) */
  .containerP1{
    margin: 2rem;
  }
  .box {
    width: 48%;
  }

  #top-left,
  #top-right-1,
  #top-right-2,
  #top-right-3 {
    width: 100%;
    border-radius: 10px;
  }

  #bottom-left,
  #bottom-right {
    width: 100%;
    border-radius: 10px;
  }
  
}

@media (min-width: 768px) {
  /* For screens with min-width of 768px (medium screens) */
  .containerP1{
    margin: 2rem;
  }
  .box {
    width: 31%;
  }

  #top-left,
  #top-right-1,
  #top-right-2,
  #top-right-3 {
    width: 48%;
    border-radius: 10px;
  }

  #bottom-left,
  #bottom-right {
    width: 48%;
    border-radius: 10px;
  }
}

@media (min-width: 992px) {
  /* For screens with min-width of 992px (large screens) */

  .containerP1{
    margin: 2rem;
  }
  .box {
    width: 23%;
    border-radius: 10px;
  }

  #top-left,
  #top-right-1,
  #top-right-2,
  #top-right-3 {
    width: 96.7%;
    border-radius: 10px;
  }

  #bottom-left,
  #bottom-right {
    width: 48%;
    border-radius: 10px;
  }
}
@media (min-width: 1020px) {
  /* For screens with min-width of 992px (large screens) */

  .containerP1{
    margin: 3rem;
  }
  .box {
    width: 23%;
  }

  #top-left,
  #top-right-1,
  #top-right-2,
  #top-right-3 {
    width: 96.7%;
    border-radius: 10px;
  }

  #bottom-left,
  #bottom-right {
    width: 47.5%;
    border-radius: 10px;
  }
}
@media (min-width: 1220px) {
  /* For screens with min-width of 992px (large screens) */

  .containerP1{
    margin: 5rem;
  }
  .box {
    width: 23%;
  }

  #top-left,
  #top-right-1,
  #top-right-2,
  #top-right-3 {
    width: 96.7%;
    border-radius: 10px;
  }

  #bottom-left,
  #bottom-right {
    width: 48%;
    border-radius: 10px;
  }
}