body{
  background-color: #e6e1e1 !important;
}

.profile-list{
  list-style: none;
  margin: 0;
  padding: 0;
  /* position: absolute; */
  /* bottom: 0; */
  display: inline-block;
  text-align: left;
  /* flex-grow: 3; */
}


#profile-list:nth-child(1) {
  line-height: 1.5;
}
* {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    margin-top: 100px;
  }
  
  .box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
  }
  
  #top-left {
    width: 410px;
    height: 200px;
    background-color: #F1C40F;
  }
  
  #bottom-left {
    width: 410px;
    height: 200px;
    background-color: #E74C3C;
  }
  
  #bottom-right {
    width: 630px;
    height: 200px;
    background-color: #2ECC71;
  }
  
  #top-right-1, #top-right-2, #top-right-3 {
    width: 200px;
    height: 200px;
    background-color: white;
  }
  
  #bottom-boxes {
    display: flex;
    flex-direction: column;
  }
  
  #bottom-left-box {
    width: 410px;
    height: 200px;
    background-color: #E74C3C;
  }
  
  #bottom-right-box {
    width: 630px;
    height: 200px;
    background-color: #2ECC71;
  }
  
  @media screen and (max-width: 768px) {
    .box {
      width: 180px;
      height: 180px;
    }
    #top-left {
      width: 360px;
      height: 180px;
    }
    #bottom-left {
      width: 360px;
      height: 180px;
    }
    #bottom-right {
      width: 540px;
      height: 180px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .box {
      width: 100%;
      height: 180px;
      margin: 5px;
    }
    #top-left {
      width: 100%;
      height: 200px;
    }
    #bottom-left {
      width: 100%;
      height: 200px;
    }
    #bottom-right {
      width: 100%;
      height: 200px;
    }
  }



