.register-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #f2f2f2, #e6e6e6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.register-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
}

.register-image,
.register-box {
  flex-basis: 50%;
  flex-grow: 1;
}

.register-image {
  flex-basis: 60%;
}

.register-image img {
  width: 100%;
  display: block;
  margin-right: 100px;
}

.register-box {
  background: #fff;
  padding: 40px 8%;
  color: #333;
  min-width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-basis: 40%;
}

.register-box h1 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20gpx;
  text-align: center;
}

button[type="submit"] {
  padding: 12px 40px;
  border: none;
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #004080;
}

.register-box label {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  display: block;
  width: 100%;
  margin: 5px 0 10px;
  font-size: 16px;
}

.register-box input[type="email"],
.register-box input[type="password"],
.register-box select {
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin: 5px 0 10px;
  background-color: #f2f2f2;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-box input[type="email"]:focus,
.register-box input[type="password"]:focus,
.register-box select:focus {
  background-color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
